head
  title Bootstrap Example
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(language='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(language='javascript' src='./../js/bootstrap.min.js')
  link(rel='stylesheet' href='./../css/bootstrap.min.css')
.container
  ul#myTab.nav.nav-tabs(role='tablist')
    li.nav-item
      a#home-tab.nav-link.active(href='/users/listUsers') Liste d'utilisateurs
    li.nav-item
      a#profile-tab.nav-link(href='/users/add') Ajouter des utilisateurs
    li.nav-item
      a#contact-tab.nav-link(href='/articles/listArticles') Liste des articles
    li.nav-item
      a#profile-tab.nav-link(href='/articles/add') Ajouter des articles
    li.nav-item
      a#contact-tab.nav-link(href='/articles_inventory/addToInventory') Ajouter a l'inventaire
    li.nav-item
      a#contact-tab.nav-link(href='/articles_inventory/listInventory') Inventaire
  #myTabContent.tab-content
    block content


  
