extends ./../adminLayout.pug
block content
    .card
        .card-header
            | list of user
        .card-body
            table.table
                thead
                    tr
                    th(scope='col') Firstname
                    th(scope='col') Lastname
                    th(scope='col') Budget
                    th(scope='col') Action
                    th(scope='col') Action
                tbody
                    each user in users
                        tr
                        td=user.last_name
                        td=user.first_name
                        td=user.budget
                        td
                            button.btn.btn-primary(type='button' onclick=`window.location.href='http://localhost:3000/users/${user.userId}/modify'`) Modifier
                        td
                            form(method="POST" , action=`/users/${user.userId}?_method=DELETE`)
                                button.btn.btn-danger(type='submit') Supprimer