extends ./../adminLayout.pug


block content
    .card
        .card-header
            | Modify a user
        .card-body
            form(method="POST" action=`/users/${users.userId}`)
                .form-group
                    label(for='exampleInputPassword1') Lastname
                    input#exampleInputPassword1.form-control(type='text' name="last_name" placeholder=`${users.last_name}`)
                .form-group
                    label(for='exampleInputPassword1') Firstname
                    input#exampleInputPassword1.form-control(type='text' name="first_name" placeholder=`${users.first_name}`)
                .form-group
                    label(for='exampleInputPassword1') Budget
                    input#exampleInputPassword1.form-control(type='text' name="budget" placeholder=`${users.budget}`)
                button.btn.btn-primary(type='submit') Modifier


