extends ./../adminLayout.pug
block content
    .card
        .card-header
            | Inventaire des articles
        .card-body
            table.table
                thead
                    tr
                    th(scope='col') article_name
                    th(scope='col') article_price
                    th(scope='col') article_quantity
                    th(scope='col') Action
                tbody
                    each inventory in inventorys
                        tr
                        td=inventory.name
                        td=inventory.price
                        td=inventory.quantity
                        td
                            form(method="POST", action=`/articles_inventory/${inventory.articleId}?_method=DELETE`)
                                button.btn.btn-danger(type='submit') Supprimer